<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10 col-md-6">
      <div class="d-flex align-items-center my-5 justify-content-center">
        <img class="rounded-circle mr-3" width="80" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" alt="lewagon">
        <h2>Your career Journey</h2>
      </div>

      <div class="border-top my-5">
        <h2 class="mt-4 mb-3">Students?</h2>
        <% if devise_mapping.omniauthable? %>
          <% resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-danger" do %>
              <i class="fab fa-github"></i> Log in with <%= OmniAuth::Utils.camelize(provider) %>
            <% end %>
            <br />
          <% end %>
        <% end %>
      </div>

      <h2 class="my-3">Sensei?</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      label: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", placeholder: "E-mail" } %>
          <%= f.input :password,
                      required: false,
                      label: false,
                      input_html: { autocomplete: "current-password", placeholder: "Password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions mb-3">
          <%= f.button :submit, "Log in", class: "btn btn-danger" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
