<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10 col-md-6">
      <div class="d-flex align-items-center my-5 justify-content-center">
        <img class="rounded-circle mr-3" width="80" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" alt="lewagon">
        <h2>Your career Journey</h2>
      </div>

      <h2 class="my-3">Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions mb-3">
          <%= f.button :submit, "Log in", class: "btn btn-danger" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
      <div class="border-top mt-4">
        <h2 class="mt-4 mb-3">First time to connect?</h2>
        <%= link_to "Start here 🚀", new_password_path(resource_name), class: "btn btn-danger" %>
      </div>

    </div>
  </div>
</div>
